h1{
    color: blue;
    font-family: Tahoma;
    font-size: 200%;
    text-align: center;
}
p {
    color: red;
    font-family: Arial;
    font-size: 100%;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}
#element { font-size: 50%;
    color: red;

}